body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Stardos Stencil', cursive;
  font-size: 48px;
  font-weight: 300;
}

h5 {
  font-weight: 300;
}

header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 15vh;
  margin: auto;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blocks-container {
  width: 100%;
  height: 85vh;
  display: flex;
}

.color-block {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.color-info {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}